@import 'fonts.scss';
@import 'icons.scss';
@import 'null.scss';
@import 'typography.scss';

body {
  @include body-p;
  background: $color-base;
  font-family: 'Roboto', sans-serif;
  color: $color-white;
}