$color-base: #323232;
$color-base-light: #434343;

$color-white: #ffffff;

$color-error: #C91433;

$indent-xs: 4px;
$indent-s: 8px;
$indent-m: 16px;
$indent-l: 20px;
$indent-xl: 40px;
$indent-xxl: 60px;

$border-radius: 12px;